@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    --varfonteprincipal:24px;
    --varfontetitulo: 'roboto';
    --varfontetexto: 'inter'
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.cabecalho{
    padding: 3% 10%;
}
.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: var(--varfontetitulo);
}
.botoes{
    text-decoration: none;
    font-size: var(--varfonteprincipal);
    color: black;
    border-radius: 10px;
    border: 2px solid;
    font-weight: 700;
    background-color:rgb(246, 230, 54);
    padding: 5px 20px;
}
.apresentacao{
    padding: 2% 5%;
    display: flex;
    gap: 35px;
    align-items: flex-start;
}
.foto{
    border-radius: 10px;
    object-fit: cover;;
    height: auto;


}
.conteinerfoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
blockquote{
    margin: 20px 40px;
}
.conteapresentacao{
    font-size: 18px;
    font-family: var(--varfontetexto);
    text-align: justify;
}
.rodape{
    padding: 20px 10%;  
    font-size: 24px;
    font-weight: 700;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    font-family: var(--varfontetexto);
}
.lista{
    line-height: 1.5;
}
.botoes:hover{
    background-color: rgb(239, 147, 36);
}
.titulo{
    font-family:  var(--varfontetitulo);
}
.citacao{
    font-size: 16px;
}
.icone p{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 10px;
}
@media(max-width:1200px){
    .cabecalho{
        padding: 5%;
    }
    .menu{
        justify-content: center;
        gap: 20px;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 8% 5%;
        align-items: center;
        text-align: center;
    }
    .conteapresentacao{
        width: 100%;
    }
    .conteinerfoto{
        width: 100%;   
    }
    .foto{
        width: 80%;
        max-width: 400px;
    }

}
